<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render 'albums/album', title: 'naruto', summary: 'This is naruto', image: 'naruto.jpg', alter: '...' %>
<%= render 'albums/album', title: 'saei', summary: 'This is saei', image: 'saei.jpg', alter: '...' %>