<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render 'albums/album', title: 'life', summary: 'daily', image: 'x.jpeg', alter: 'naruto' %>

<div class="thumbnail">
	<img src="../x.jpeg" alt="...">
	<div class="caption">
		<h3>Title</h3>
		<p>Summary</p>
	</div>
</div>		